.back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;

    svg {
        width: 24px;
    }
}

.card {
    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
